{{!-- Dashboard view - new posts + see all posts + make them clickable --}}
{{!-- {{> navbar}} --}}
<div class="container">
  <div class="row">
    <section class="col-md-6">
      <h2>Enter a New Job Application</h2>
      {{!-- Parsley Goes Here (add css onclick to hide/unhide form) --}}
      {{> new-form}}
    </section>

    {{!-- {{#if applications.length}} --}}
    <section class="col-md-6">
      <h2 style="color: #b721ff;padding-top:15px;">Your Applications</h2>
      <div class="application-list">
        <ol>

          {{#each applications as |application|}}
          <li>
            {{> applications-info application}}
          </li>
          {{/each}}
        </ol>
      </div>
    </section>
  </div>
</div>
{{!-- {{/if}} --}}
<script src="javascript/delete-app.js"></script>