{{!-- Dashboard view - new posts + see all posts + make them clickable  --}}
{{!-- {{> navbar}} --}}
<section>
  <h2>Enter a New Job Application</h2>
{{!-- Parsley Goes Here (add css onclick to hide/unhide form) --}}
{{> new-form}}
</section>

{{!-- {{#if applications.length}} --}}
<section>
  <h2 style="color: black;padding-top:15px;">Your Applications</h2>
  <div class="application-list">
  <ol>
  
    {{#each applications as |application|}}
    <li>
      {{> applications-info application}}
      <a href="/dashboard/edit/{{application.id}}" class="edit-link">Edit application</a>
    </li>
    {{/each}}
  </ol>
  </div>
</section>
{{!-- {{/if}} --}}

<script src="javascript/add-app.js"></script>
