<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Application Information
  </h2>
  {{!-- Parsley goes here ? I just left the exact code from Mod 14 for now --}}
  <form id="edit-app-form">
    <div>
      <input name="post-title" type="text" value="{{application.job_title}}" />
      <span>({{application.app_url}})</span>
    </div>
    <div>
    
    </div>
    <button type="submit">Save Application</button>
    <button type="submit" id="delete-app-btn">Delete Application</button>
  </form>
</article>


<script src="javascript/edit-app.js"></script>
