<div class="container bg-white mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="job-tracker-overview">
        <h2>Welcome to Job Tracker</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit odit nihil natus numquam optio dolorum at,
          maxime rem ad labore reiciendis modi incidunt expedita nulla quasi quisquam soluta beatae eius laboriosam iure
          sed sapiente, quos blanditiis repellat. Exercitationem eaque ad repudiandae magnam asperiores, omnis, libero
          ratione, provident veniam voluptate repellendus!</p>
      </div>
    </div>
    <div class="col-md-6">
      <img class='img-fluid float-right' src="/images/Work_7.jpg" alt="Job Tracker Splash" />
    </div>
  </div>
</div>